body {
    background-color: transparent;
}

#configGoogleMap,
#configMapbox {
    max-width: 100%;
    max-height: 800px;
    min-height: 300px;
}

.hiddenInfo,
.af-hidden {
    display: none;
}

.required {
    color: red;
}

.configMoreInfo {
    font-size: 90%;
    font-style: italic;
    margin-top: 6px;
    display: block;
}